﻿@model SailDoc.Web.Models.Boat

<div>
    <h2>Boat Edit</h2>            

    @using (Html.BeginForm("Edit", "Boat"))
    {
        @Html.ValidationSummary()

        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.HajoId)

        @Html.Hidden("editAction", ViewData["editAction"].ToString())

        <div class="edit-label">@Html.LabelFor(m => m.Nev)</div>
        <div class="edit-label">@Html.EditorFor(m => m.Nev)</div>

        <div class="edit-label">@Html.LabelFor(m => m.Lajstromszam)</div>
        <div class="edit-label">@Html.EditorFor(m => m.Lajstromszam)</div>

        <input type="submit" value="Save" />
    }
</div>