﻿@model SailDoc.Web.Models.Boat

@{
    ViewData["Title"] = $"Boat Details";
}

<h2>@Html.DisplayFor(m => m.Nev)</h2>

<table border="1">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Nev)</th>
            <th>@Html.DisplayNameFor(m => m.Lajstromszam)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(m => m.Nev)</td>
            <td>@Html.DisplayFor(m => m.Lajstromszam)</td>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Back", "Index")