﻿@model IEnumerable<SailDoc.Web.Models.Boat>


<div>
    <h2>Boats</h2>

    @if (Model.Count() == 0)
    {
        <p>There is no boat in the database.</p>
    }
    else
    {
        <table>
            <tr>
                <th>@Html.DisplayNameFor(b => b.First().Nev)</th>
                <th>@Html.DisplayNameFor(b => b.First().Lajstromszam)</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            @foreach (var boat in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(b => boat.Nev)</td>
                    <td>@Html.DisplayFor(b => boat.Lajstromszam)</td>
                    <td>@Html.ActionLink("[SHOW]", "Details", new { id = boat.HajoId })</td>
                    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = boat.HajoId })</td>
                    <td>@Html.ActionLink("[DEL]", "Remove", new { id = boat.HajoId })</td>
                </tr>
            }
        </table>
    }

</div>